<div class="container">
	<%= render "layouts/errors" %>
	
	<h1>Sign In</h1>
	
	<form action="<%= session_url %>" method="POST">
		<%= input_auth_token %>
	
		<label >Email<br>
		<input type="text" name="user[email]">
		</label><br>
	
		<label>Password<br>
		<input type="password" name="user[password]">
		</label><br>
	
		<input type='submit' value='Login' class="btn btn-primary">
		<a href="<%= new_user_url %>">New to Trellino?</a>
	</form>
</div>