<form id="create-card-form">
	<div class="form-group">
		<input type="textarea" name="card[title]" class="form-control">
	
		<button type="submit" id="create-card-btn">Post</button>
	
		<button class="cancel">X</button>
	</div>
</form>