<h1>Boards Index</h1>

<ul>
	<% boards.each( function(board) { %>
		<li><a href="#/boards/<%= board.id %>"><%= board.escape('title') %></a></li>
	<% }) %>
</ul>

<a href="#/boards/new">Create a Board!</a>