<h1>Make a Board!</h1>

<form id="new-board">
	
	<label>Board Title</label>
	<input type="text" id="board-title">
	<br>

	<input type="submit" value="Make it!" id="create-board">
</form>

<a href="/#">Back to Index</a>