<h1 id='board-title'>Make a Board!</h1>

<div class="container">
	<form>
		<label><h1 class="informal">Board Title</h1></label>
		<input type="text" id="board-title">
		<br>

		<input type="submit" value="Make it!" id="create-board">
	</form>

	<br><a href="/#" class="informal">Back to Index</a>
</div>

