<h5>Make a Board!</h5>

<form>
	<label>Board Title</label>
	<input type="text" id="board-title">
	<br>

	<input type="submit" value="Make it!" id="create-board">
</form>

<a href="/#">Back to Index</a>