<h1><%= board.escape('title') %></h1>
<div class="lists-index lists-list col-xs-8"></div>
                                          
<div id="control-panel" class="col-xs-2"></div>

<script>
	$(function() {
		$('.lists-index').sortable({
			connectWith: '.lists-list',	
	    stop: function (event, ui) {
				ui.item.trigger('drop-list', ui);
			}
		});
	});
</script>