
<%= render "layouts/errors" %>

<h1 id="board-title">Sign Up</h1><br><br><br>

<div class="container">
	<form action="<%= users_url %>" method="POST">
		<%= input_auth_token %>

		<label class="informal">Email<br>
		<input type="text" name="user[email]">
		</label><br>
	
		<label class="informal">Password<br>
		<input type="password" name="user[password]">
		</label><br>
	
		<input type='submit' class="btn btn-primary" value='Sign Up'>
		<a href="<%= new_session_url %>" class="informal">Back to Login</a>
	</form>
</div>