<div class="container">
	<%= render "layouts/errors" %>

	<h1>Sign Up</h1>

	<form action="<%= users_url %>" method="POST">
		<%= input_auth_token %>

		<label>Email<br>
		<input type="text" name="user[email]">
		</label><br>
	
		<label>Password<br>
		<input type="password" name="user[password]">
		</label><br>
	
		<input type='submit' class="btn btn-primary" value='Sign Up'>
		<a href="<%= new_session_url %>">Back to Login</a>
	</form>
</div>