/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

body {
  margin: 0;
	
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  
  background-image: image-url('CorkBoard.jpg');
	background-size: cover;
	
	height: 100%;
	width: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.navbar {
	background-image: image-url('mahogany.jpg');
}

.navbar .navbar-collpase .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  white;
}

#content {
	height: 100%;
	overflow-x: scroll;
}

.hidden {
	display: none;
}

input[type="text"] {
  width: inherit;
}

button, input[type="submit"] {
  font-weight: bold;
	background-color: rgba(0, 120, 230, 0.5);
  border: 1px solid;
  border-radius: 3px;
}

button:hover, input[type="submit"]:hover {
  background-color: transparent;
  color: blue;
}

#board-title {
	display: inline;
	margin: 45px;
	padding: 5px;
	background-color: rgba(0, 120, 230, 0.5);
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 72px;
	font-weight: bold;
	-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
	-webkit-box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
	-moz-box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
	box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
}

.boards-index {
	height: auto;
	padding: 25px;
	list-style: none;
	
	li{
	  margin:1em;
	  float:left;
	}
	
	li a {
		color:#000;
	  background:#ffc;
	  display:block;
	  height:200px;
	  width:200px;
	  padding:10px;
		text-decoration:none;
	  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		-moz-transition:-moz-transform .15s linear;
	  -o-transition:-o-transform .15s linear;
	  -webkit-transition:-webkit-transform .15s linear;
	}
	
	li:nth-child(even) a{
	  -o-transform:rotate(4deg);
	  -webkit-transform:rotate(4deg);
	  -moz-transform:rotate(4deg);
	  position:relative;
	  top:5px;
	}
	li:nth-child(3n) a{
	  -o-transform:rotate(-3deg);
	  -webkit-transform:rotate(-3deg);
	  -moz-transform:rotate(-3deg);
	  position:relative;
	  top:-5px;
	}
	li:nth-child(5n) a{
	  -o-transform:rotate(5deg);
	  -webkit-transform:rotate(5deg);
	  -moz-transform:rotate(5deg);
	  position:relative;
	  top:-10px;
	}
	
	li a:hover, li a:focus{
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
}

.informal {
	padding: 5px;
  font-family:"Reenie Beanie",arial,sans-serif;
	font-weight: bold;
	font-size: 28px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.list-index {
	display:inline;
	width: auto;
	list-style-type: none;
	white-space: nowrap;
}

.list-title {
  font-family:"Reenie Beanie",arial,sans-serif;
	font-weight: bold;
	font-size: 48px;
	-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
	overflow-x: scroll;
}

.list {
	cursor: pointer;
	padding: 5px 10px;
	width: 250px;
	height: auto;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 0px 5px;
	display: inline-block;
	vertical-align: text-top;
}

.new-list {
	width: 215px;
	display:inline-block;
}

.cards-index {
	padding: 10px 0	30px 0;
	list-style: none;

	.card {
		cursor: pointer;
		padding: 0 3px;
		background-color: #ffc;
		border: 1px solid gray;
		margin: 15px 0;
		overflow-x: scroll;
		-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  -moz-transition:-moz-transform .15s linear;
	  -o-transition:-o-transform .15s linear;
	  -webkit-transition:-webkit-transform .15s linear;
	}
	
	li h5{
	  font-family:"Reenie Beanie",arial,sans-serif;
	  font-size:180%;
		-moz-transition:-moz-transform .15s linear;
	  -o-transition:-o-transform .15s linear;
	  -webkit-transition:-webkit-transform .15s linear;
	}
	
	li:nth-child(even) {
	  -o-transform:rotate(2deg);
	  -webkit-transform:rotate(2deg);
	  -moz-transform:rotate(2deg);
	  position:relative;
	  top:5px;
		background-color: #cfc;
	}
	
	li:nth-child(3n) {
	  -o-transform:rotate(-2deg);
	  -webkit-transform:rotate(-2deg);
	  -moz-transform:rotate(-2deg);
	  position:relative;
	  top:-5px;
	}
	
	li:nth-child(5n) {
	  -o-transform:rotate(-	2deg);
	  -webkit-transform:rotate(-	2deg);
	  -moz-transform:rotate(-	2deg);
	  position:relative;
	  top:-10px;
		background-color: #ccf;
	}
	
	li:hover, li:focus{
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
}

.create-card {
	padding-top: 20px;
	border-top: 1px solid gray;
	width: 100%;
}

.delete-item {
	float:right;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.dragged {
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
	-webkit-box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
	-moz-box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
	box-shadow: 39px 30px 13px 13px rgba(5,0,5,0.5);
}

.placeholder {
	background-color: lightgray;
	display: inline-block;
	border-radius: 3px;
}

#create-card-btn {
	background-color: #1E8D22;
	color: white;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}

.cancel {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-weight: bold;
	font-size: 24px;
}