<h2>Control Panel</h2>

<form>
	<label>Add Members (e-mail)</label><br>
	<input type="text" id="add-member"><br><br>
	
	<input type="submit" value="Add 'em">
</form><br><br>

<label>Board</label><br>
<button id="delete-board" value="Delete this Board">Delete this Board</button>
<br><br><br>