<h2 class='list-title'>New List</h2>

<form id="create-list" >
	<input type="text" id="list-title"><br><br>
	
	<input type="submit" value="Make it!" class="submit-btn">
</form>

<div id="control-panel"></div>