<h3 class="list-title"><%= list.escape('title') %><button class='hide delete-item'>X</button></h3>
<ul class="cards-index cards-list"></ul>
<div><a class="add-card informal">Post a Note</a></div>

<script>
	$(function() {
		$('.cards-index').sortable({
			connectWith: '.cards-list',
			tolerance: 'pointer',
			placeholder: 'placeholder',
			forcePlaceholderSize: true,
			start: function (event, ui) {
				ui.placeholder.height(ui.item.height());
				ui.placeholder.width(ui.item.width());
				ui.item.toggleClass('dragged');
			},
	    stop: function (event, ui) {
				ui.item.toggleClass('dragged');
				ui.item.trigger('drop-card', ui);
			}
		});
	});
</script>