<h3><%= list.escape('title') %></h3>

<div class="cards-index cards-list"></div>
<div><button class="add-card">Add Card</button></div>

<script>
	$(function() {
		$('.cards-index').sortable({
			connectWith: '.cards-list',	
	    stop: function (event, ui) {
				debugger
				ui.item.trigger('drop', ui.item.index());
			}
		});
	});
</script>