<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand fancy-font nickname" href="/#">Notella</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <% if logged_in? %>
          <%= link_to "Log out", session_url, { method: :delete} %>
        <% end %>
				</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div><!-- End of navbar -->